---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 13 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	这里原本有长篇大论，但好在我都删了。<br />
	</p>
</Layout>
