---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, World!</h1>
			<p>
				好，这是一个完全部署在Cloudflare Pages上的Astro项目。<br />
				非常的稳定，几乎没有任何问题。除非我不小心干烂了<br />
				并且它的lighthouse评分是满分！！！！！<br />
				然后就没了，真没想到，就这个小页面都是用了copilot来写的<br />
				666，上面这句其实是ai写的，我只需要给它一个头部和尾部就行了<br />
				建议把我优化掉，直接用ai来写<br />
			</p>
		</main>
		<Footer />
	</body>
<meta name="msvalidate.01" content="34CB726D7E6FF4633B3AC8A4AC2E7051" />
</html>
